body {
  font-family: sans-serif;
  color: black;
  background-color:rgb(248,242,231)
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

nav {
  display: flex;
  margin-left:3em;
  margin-right:3em;
  justify-content: space-between;
  align-items: baseline;
  color:black;
  background-color:rgb(248,242,231);
}

form div {
  margin: 0em;
  display: inline-block;
}

.addToCart {
  margin-top: 15px;
    width: 120px;
    margin-right: 5px;
  }
  
.addToWishList {
  width: 120px;
  margin-left: 5px;
}

.edit-btn {
  background-color: rgb(115, 192, 0);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: rgb(255, 219, 153);
  display: flex;
  width: 98%;
  justify-content: space-around;
}

.search-bar {
  font-size: 20px;
}

.single-user {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.imgNav {
  height: 20px;
  width: 20px;
  margin: 0px 5px;
}

.nav-btn {
  margin: 1.0rem;
  border: 0px solid black;
  border-radius: 0.0rem;
  padding: 0.0rem;
  cursor: pointer;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f0f0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header-search {
  width: 50vh;
}

#unlogged-nav {
  display: flex;
}

#pic4 {
  height: 200px;
}

#topLine {
  font-size: 20px;
  display: flex;
}

#wholeBar {
  display:flex;
  width:100%;
  border-bottom-width: 3px;
  border-color: rgb(0,0,0);
  border-bottom-style: solid;
}

#navTitle {
  font-size: 50px;
  text-align:center;
  margin-top:20px;
}

#rightColumn{
  width:100%;
  height:210px;

}

#navBar {
  align-items: flex-start;
  color: red;
  margin-top: 75px;
  font-size:15px;
  margin-left:80px;
  min-width:1000px;
}

#homeTable {
  width:100%;
}

#homeTableFirstRow {
  height:100px;
}

#productContainer {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#productImage {
  max-width:250px;
  max-height:250px;
}

#productItem {
  display: flex;
  flex-direction: column;
  margin:20px;
  width: 300px;
  height:370px;
  background-color: white;
  border: 1px solid;
}

#productName {
height:40px;
width:250px;
margin: 15px;
text-align:center;
background-color: white;
font-weight: bold;
}

#picSquare {
  height: 250px;

}

#header-search {
  width:200px;
  margin-right: 10px;
  margin-top: 17px;
}