body {
  font-family: sans-serif;
  color: black;
  background-color: rgb(248, 242, 231);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  margin-left: 3em;
  margin-right: 3em;
  justify-content: space-between;
  align-items: baseline;
  color: black;
  background-color: rgb(248, 242, 231);
}

form div {
  margin: 0em;
  display: inline-block;
}

.search-bar {
  font-size: 20px;
}

.all-products {
}

.imgNav {
  height: 20px;
  width: 20px;
  margin: 0px 5px;
}

.nav-btn {
  margin: 1rem;
  border: 0px solid black;
  border-radius: 0rem;
  padding: 0rem;

  cursor: pointer;
  background-color: white;
}

a {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f0f0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header-search {
  width: 50vh;
}

#unlogged-nav {
  display: flex;
}

#unlogged-nav a {
}

#pic4 {
  height: 200px;
}

#topLine {
  font-size: 20px;
  display: flex;
}

#wholeBar {
  display: flex;
  width: 100%;
  border-bottom-width: 3px;
  border-color: rgb(0, 0, 0);
  border-bottom-style: solid;
}
#navTitle {
  font-size: 70px;
  text-align: center;
  margin-top: 50px;
}
#rightColumn {
  width: 100%;
}
#navBar {
  color: red;
  margin-top: 40px;
  font-size: 15px;
  margin-left: 80px;
}
#homeTable {
  width: 100%;
}
#homeTableFirstRow {
  height: 200px;
}
