body {
  font-family: sans-serif;
  color: black;
  background-color: rgb(248, 242, 231);
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

button {
  font-family: sans-serif;
  background-color: rgb(255, 219, 153);
  margin: 10px;
}
nav {
  display: flex;
  margin-left: 3em;
  margin-right: 3em;
  justify-content: space-between;
  align-items: baseline;
  color: black;
  background-color: rgb(248, 242, 231);
}

form div {
  margin: 0em;
  display: inline-block;
}

ul.pager {
  display: flex;
  font-family: sans-serif;
  list-style-type: none;
}

ul.pager > li {
  flex: 1;
}

li.selected {
  background-color: rgb(248, 242, 231);
}

li.selected a {
  color: burlywood;
}

.addToCart {
  margin-top: 15px;
  width: 120px;
  margin-right: 5px;
}

.addToWishList {
  width: 120px;
  margin-left: 5px;
}

.edit-btn {
  background-color: rgb(115, 192, 0);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: rgb(255, 219, 153);
  display: flex;
  width: 98%;
  justify-content: space-around;
  margin-top: 100px;
}

.signInFormDiv {
  text-align: center;
}

.authSignUpForm {
  display: flex;
  flex-direction: column;
}

.authSignUpForm div {
  padding: 10px;
}

.authSignInput {
  width: calc(50% - 30px);
  height: 30px;
  background-color: antiquewhite;
  font-size: 20px;
  letter-spacing: 2px;
}

.loginBtn {
  font-size: 18px;
  padding: 16px 22px;
  background-color: rgb(255, 219, 153);
}

.authSignErr {
  color: firebrick;
}

.search-bar {
  font-size: 20px;
}

.single-user {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.imgNav {
  height: 20px;
  width: 20px;
  margin: 0px 5px;
}

.nav-btn {
  margin: 1rem;
  border: 0px solid black;
  border-radius: 0rem;
  padding: 0rem;
  cursor: pointer;
  background-color: rgb(248, 242, 231);
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f0f0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#header-search {
  width: 50vh;
  background-color: antiquewhite;
  font-family: sans-serif;
  letter-spacing: 2px;
}

#unlogged-nav {
  display: flex;
}

#pic4 {
  height: 200px;
}

#topLine {
  font-size: 20px;
  display: flex;
}

#wholeBar {
  display: flex;
  width: 100%;
  border-bottom-width: 3px;
  border-color: rgb(0, 0, 0);
  border-bottom-style: solid;
}

#navTitle {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

#rightColumn {
  width: 100%;
  height: 210px;
}

#navBar {
  align-items: flex-start;
  color: black;
  margin-top: 75px;
  font-size: 15px;
  margin-left: 80px;
  min-width: 1050px;
}

#homeTableCategory {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

#homeTableFirstRow {
  display: flex;
  height: 300px;
  padding: 50px;
  justify-content: space-around;
  align-items: center;
}

.homeItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}

.homeItem img {
  height: 240px;
  width: 130px;
}

.homeItem div {
  margin: 10px;
  align-self: center;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.homeTitle {
  margin: 10px;
  align-self: center;
  font-weight: bold;
  font-style: italic;
}

#productContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#productImage {
  max-width: 250px;
  max-height: 250px;
}

#productItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 2px solid;
}

#productName {
  height: 40px;
  width: 250px;
  margin: 15px;
  text-align: center;
  background-color: white;
  font-weight: bold;
}

#productPrice {
  margin: 10px;
  text-align: center;
  background-color: white;
  font-weight: bold;
}

#picSquare {
  height: 250px;
}

#header-search {
  width: 200px;
  margin-right: 10px;
  margin-top: 17px;
}

#all-products {
  display: flex;
}

.cartBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartStyle {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 10px;
}

.cartItemStyle {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.cartItemStyle div {
  width: 50%;
}

.cartBtn {
  background-color: rgb(255, 219, 153);
  margin: 10px;
}

.quantityField {
  width: 40px;
  margin-right: 10px;
}

.cartItemDetails div {
  padding: 10px;
}

.historyCartStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pastCartStyle {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
}

.pastCartStyle div {
  width: 50%;
}

.dateHeader {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.Xfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
  width: calc(60% - 30px);
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 50%;
  padding: 11px 15px 11px 0;
}

.stripe-button {
  display: block;
  font-size: 16px;
  width: calc(60% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: rgb(255, 219, 153);
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}

.App {
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
}
*/ .stripeBox {
  margin: 50px;
}

h1,
h3 {
  text-align: center;
}

.flexedContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5px;
}
